<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
            <add name="asset" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\python39\python.exe|c:\python39\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\NVSASSETS" />
    <add key="WSGI_HANDLER" value="naivas.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="naivas.settings" />
  </appSettings>
</configuration>

